<!-- Footer -->
<footer class="page-footer font-small blue footer" style="z-index: 100;">

    <!-- Copyright -->
    <div class="footer-copyright mb-2 text-center d-flex justify-content-around">
        <a href="https://www.facebook.com/yash.bhosale.9822924/" target="_blank" style="z-index: 100; "><i class="fa-brands fa-facebook"
                style="color: #6ab04c; font-size: 20px;">FaceBook</i></a>
        <a href="https://github.com/yash11092000" target="_blank" style="z-index: 100;"><i class="fa-brands fa-github"
                style='color:#6ab04c; font-size: 20px;'>GitHub</i></a>
        <a href="https://www.instagram.com/yash.bhosale11/" target="_blank" style="z-index: 100;"><i class="fa-brands fa-instagram"
                style="color: #6ab04c;font-size: 20px;">Instgram</i></a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->