<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand " href="/" style="color: #6ab04c;"><img src="../../public/images/logo2.png"
                style="height: 40px;"><span class="pl-2 font-size: 18px;">EthChain</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active link " aria-current="page" href="/"
                        style="color: #6ab04c; font-size: 18px;" onMouseOver="this.style.color='white'"
                        onMouseOut="this.style.color='#6ab04c'">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link" href="/owner" style="color: #6ab04c; font-size: 18px;"
                        onMouseOver="this.style.color='white'" onMouseOut="this.style.color='#6ab04c'">Owner</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link" href="/delivery" style="color: #6ab04c; font-size: 18px;"
                        onMouseOver="this.style.color='white'" onMouseOut="this.style.color='#6ab04c'">Delivery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link" href="/buyer" style="color: #6ab04c; font-size: 18px;"
                        onMouseOver="this.style.color='white'" onMouseOut="this.style.color='#6ab04c'">Buyer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link" href="/register" style="color: #6ab04c; font-size: 18px;"
                        onMouseOver="this.style.color='white'" onMouseOut="this.style.color='#6ab04c'">register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link" id="login" href="/login" style="color: #6ab04c; font-size: 18px;"
                        onMouseOver="this.style.color='white'" onMouseOut="this.style.color='#6ab04c'">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link enable" href="/logout" style="color: #6ab04c; font-size: 18px;"
                        onMouseOver="this.style.color='white'" onMouseOut="this.style.color='#6ab04c'">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>