<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{>header}}
    {{>style}}
</head>

<body>
    {{>navbar}}
    <div class="container FetchBox">
        <h1 class="link">Update Delivery of Product</h1>
        <hr class="new2">
        <div class="mb-2">
            <h2 class="link text-center mt-2">Start delivery</h2>
            <input type="text" placeholder="Enter Id" id="ProdId4">
            <button id="DeliveryStatus" class="btn btn-outline-success">DeliveryDetails</button>
        </div>
    </div>
    {{>footer}}
    {{>script}}

</body>

</html>