<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../../public/css/style.css">
    {{>header}}
    {{>style}}

<body>
    {{>navbar}}
    <div class="container">
        <span class="text1">
            We Are
        </span>
        <span class="text2" style="color: #6ab04c;">
            SupplyChain Tracker
        </span>

    </div>
    <div class="wrapper">
        <div class="box">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    {{>script}}
    {{>footer}}
</body>

</html>